.form {
  text-align: center;
}

.form h3 {
  margin-bottom: 30px;
  /* border-bottom: 3px solid tomato; */
  width: fit-content;
  padding-bottom: 5px;
  margin: auto;
}

.form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.form input {
  margin: auto;
  display: block;
  width: 300px;
  border: 1px solid silver;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
.form button {
  width: 300px;
  background-color: tomato;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
.form button:disabled {
  opacity: 0.5;
}

.form p {
  background-color: tomato;
  margin-bottom: 20px;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
